**TUPLEs**

In [5]:
nissan = {'sentra':3500,'versa':2000,'rouge':4500,'altima':3000}
print(nissan)

{'sentra': 3500, 'versa': 2000, 'rouge': 4500, 'altima': 3000}

In [6]:
#  Using get() to Access Values:
choose_car_value = nissan.get('altima','No car in stock')
print(f"Your car cost $: {choose_car_value}")
choose_car_value = nissan.get('maxima','No car in stock')
print(choose_car_value)

Your car cost $: 3000
No car in stock

In [7]:
# ADDING A NEW ITEM:
nissan['maxima']=3300
print(nissan)

{'sentra': 3500, 'versa': 2000, 'rouge': 4500, 'altima': 3000, 'maxima': 3300}

In [8]:
# Removing Key-Value Pair:
del nissan['sentra']
print(nissan)

{'versa': 2000, 'rouge': 4500, 'altima': 3000, 'maxima': 3300}

In [9]:
personal_info = {'First_name':'Djair','Last_name':'Sobral','Age':59,'City':'Dallas','State':'Texas'}
print(personal_info['First_name'])
print(personal_info['Last_name'])

Djair
Sobral

**Looping Through All Key-Value Pairs**

In [10]:
for key, value in personal_info.items():
    print(f"\nKey: {key}")
    print(f"Value: {value}")

Key: First_name
Value: Djair

Key: Last_name
Value: Sobral

Key: Age
Value: 59

Key: City
Value: Dallas

Key: State
Value: Texas

In [11]:
for key, value in personal_info.items():
    print(f"{key}: {value}")

First_name: Djair
Last_name: Sobral
Age: 59
City: Dallas
State: Texas

In [12]:
for value in personal_info.values():
    print(value)
print('\n')
for key in personal_info.keys():
    print(key)

Djair
Sobral
59
Dallas
Texas


First_name
Last_name
Age
City
State

In [13]:
nacionality = {
    'Djair':'Israel',
    'Caroline':'USA',
    'Zanfir':'Russia',
    'Edjanete':'Brazil',
    'Maria':'Mexico',
    'Jennifer':'Brazil',
    'Omair':'Paquistan'
}
#--------------------
if 'Maria' in nacionality.keys():
    print(f"Hi Maria! You are from {nacionality['Maria']}")

Hi Maria! You are from Mexico

**Looping Through a Dictionaryâ€™s Keys in a Particular Order**

In [14]:
for nomes in sorted(nacionality.keys()):
    print(f"{nomes.title()} you are in my list")

Caroline you are in my list
Djair you are in my list
Edjanete you are in my list
Jennifer you are in my list
Maria you are in my list
Omair you are in my list
Zanfir you are in my list

In [15]:
print("Countries in our list are:")
for countries in sorted(nacionality.values()):
    print(countries)

Countries in our list are:
Brazil
Brazil
Israel
Mexico
Paquistan
Russia
USA

**To see each COUNTRY chosen without repetition, we can use a set. A set is a collection in which each item must be unique.**

In [16]:
print("Unique countries in our list are:")
for countries in sorted(set(nacionality.values())):
    print(countries)

Unique countries in our list are:
Brazil
Israel
Mexico
Paquistan
Russia
USA

**NESTING - A list of Dictionaries**

In [17]:
aluno_1 = {'Name':'Djair','Idade':'59','Classe':'Python'}
aluno_2 = {'Name':'Jane','Idade':'54','Classe':'English'}
aluno_3 = {'Name':'Saulo','Idade':'35','Classe':'Security'}
alunos = [aluno_1,aluno_2,aluno_3]
for aluno in alunos:
    print(aluno)

{'Name': 'Djair', 'Idade': '59', 'Classe': 'Python'}
{'Name': 'Jane', 'Idade': '54', 'Classe': 'English'}
{'Name': 'Saulo', 'Idade': '35', 'Classe': 'Security'}

In [18]:
#  Altering a value in a tuple.

for aluno in alunos:
    if aluno['Name'] == 'Djair':
        aluno['Idade'] = '60'
        aluno['Classe'] = 'SQL'
    elif aluno['Name'] == 'Jane':
        aluno['Idade'] = '55'
for aluno in alunos:
    print(aluno)

{'Name': 'Djair', 'Idade': '60', 'Classe': 'SQL'}
{'Name': 'Jane', 'Idade': '55', 'Classe': 'English'}
{'Name': 'Saulo', 'Idade': '35', 'Classe': 'Security'}

In [19]:
# Defining the Tuple 
Vehicle = {'Maker':'Nissan','Model':['Sentra','Altima','Maxima']}
# Printing some info.
print(f"The automaker {Vehicle['Maker']}, offers the Models {Vehicle['Model'][1]} as its best vehicle")

The automaker Nissan, offers the Models Altima as its best vehicle

In [20]:
print(Vehicle['Model'][0])
print(Vehicle['Model'][2])

Sentra
Maxima

In [21]:

Vehicle_Sale = {'Nissan':['Maxima','Altima','Sentra'],
                'BMW':['X5','X3','X7'],
                'Toyota':['Corolla','Tacoma','Prius']
               }

In [22]:
for maker, models in Vehicle_Sale.items():
    print(f"\n{maker} produce the following vehicles:")
    for model in models:
        print(f"\t{model}")

Nissan produce the following vehicles:
	Maxima
	Altima
	Sentra

BMW produce the following vehicles:
	X5
	X3
	X7

Toyota produce the following vehicles:
	Corolla
	Tacoma
	Prius

**A Dictionary in a Dictionary**

In [23]:
users = {'Dcs0501':{'fname':'Djair', 'lname':'Sobral',  'password':'1234'},
         'Jansob' :{'fname':'Jane',  'lname':'Mendonca','password':'5789'},
         'Mon58'  :{'fname':'Monica','lname':'Amaral',  'password':'b584'}
        }

In [24]:
for username, user_info in users.items():
    print(f"\nUsername:{username}")
    
    full_name = f"{user_info['fname']} {user_info['lname']}"
    user_password = user_info['password']
    
    print(f'\t{full_name} has the following password: {user_password}')

Username:Dcs0501
	Djair Sobral has the following password: 1234

Username:Jansob
	Jane Mendonca has the following password: 5789

Username:Mon58
	Monica Amaral has the following password: b584